body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #FA32F0, #B32CDE, #963DF5, #522CDE,#323EFA);
}

.contenedor{
    margin-top: 50vh;
    margin-bottom: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
.items{

    width: 5em;
    height: 5em;
    color: white;
    background-color: black;
    border-radius: 50%;
    align-items:center;
    box-shadow: 0px 0px 85px;
    display: flex;
    border: 2px solid white;
}
h3{
    margin: 2rem;
}

